.sidebar {
	display: flex;
	flex-direction: column;
	flex: 0.35;
	border-right: 1px solid lightgray;
}

.sidebar__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.1rem;
}

/* .sidebar__header > .MuiSvgIcon-root {
	filter: invert(50%);
} */

.sidebar__headerRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 10vw;
}

.sidebar__headerRight > .MuiButtonBase-root {
	margin-right: 1vw;
	font-size: 1.5rem !important;
}
.sidebar__search {
	display: flex;
	align-items: center;
	height: 2.2rem;
	/* background: #e7dbdb; */
	padding: .6rem;
	margin-bottom: .2rem;
}
.sidebarSearch__container {
	display: flex;
	align-items: center;
	background: white;
	width: 100%;
	height: 2.1rem;
	border-radius: 20px;
}
.sidebarSearch__container > .MuiSvgIcon-root {
	color: grey;
	padding: 0.6rem;
	font-size: 45px !important;
}
.sidebarSearch__container > input {
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	margin-left: 0.6rem;
}
.sidebar__chats {
	flex: 1;
	background: white;
	overflow: scroll;
}
.sidebar__chats::-webkit-scrollbar{
	display: none;
}
/* @media screen and (max-width: 675px) {
} */
